@model BlogsVM

    

    <div class="post-block mt-5 post-leave-comment">
        <h4 class="mb-3">Leave a comment</h4>

        <form id="contactFormBlogs" class="contact-formComment p-4 rounded bg-color-grey">
            

            <select asp-for="BlogId" asp-items="ViewBag.BlogId" style="display:none;">
               
            </select>

            <div class="p-2">
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label class="required font-weight-bold text-dark">Full Name</label>
                        <input type="text" asp-for="FullName" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="required font-weight-bold text-dark">Email Address</label>
                        <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" asp-for="Email" id="email" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="required font-weight-bold text-dark">Comment</label>
                        <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" asp-for="Comment" id="message" required></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-0">
                        <input type="submit" value="Post Comment" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                    </div>
                </div>
            </div>
        </form>
    </div>



<script>

     $("#contactFormBlogs").on("submit", function (e) {

            e.preventDefault();

         let blogcomment = objectifyForm($(this).serializeArray());
         console.log(blogcomment);
         $.ajax({

                url: "/ClientView/BlogsCommentCreate",
                type: "POST",
                data: blogcomment,
                success: function (response) {
                   console.log(response);
                    $("form")[0].reset();

                    $("#contact-formLoad").html(response);
                 
                    location.reload(response);
                  
                },
             error: function (response) {
                 console.log(response);
                    alert("Error");
                }
            });

        });




     //$("#contactFormBlogs").on("submit", function (e) {

     //       e.preventDefault();

     //       let blogcomment = objectifyForm($(this).serializeArray());

     //       $.ajax({

     //           url: "/ClientView/BlogsCommentCreate",
     //           type: "POST",
     //           data: blogcomment,

     //           success: function (response) {

     //               alert("working");

     //              // $("#contactFormBlogs").reset();

     //               $("#contact-formLoad").html(response);
     //           },
     //           error: function (response) {
     //               alert("Error");
     //           }
     //       });

     //   });

</script>