@model PronaliViewModel
@{
    ViewData["Title"] = "Pronali";
    @*int SoftwareFeaturesIndex = 0;*@
}

    <div role="main" class="main">

        <div class="slider-container rev_slider_wrapper" style="height: 100vh;">
            <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'addOnTypewriter': { 'enable': true }, 'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': [1410,1110,930,690], 'gridheight': 700, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1422,1182,974], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-primary' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
                <ul>
                    <li class="slide-overlay slide-overlay-level-0" data-transition="fade">
                        <img src="~/images/ServiceImage/ser1.jpg"
                             alt=""
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg">

                        <h1 class="tp-caption font-weight-extra-bold text-color-light"
                            data-frames='[{"delay":1000,"speed":500,"frame":"0","from":"opacity:0;x:50%;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                            data-x="['left','left','left','center']"
                            data-y="center" data-voffset="['-85','-85','-85','-85']"
                            data-fontsize="['48','48','48','48']"
                            data-lineheight="['55','55','55','55']"
                            data-letterspacing="-1">
                            We are the best
                        </h1>

                        <div class="tp-caption font-weight-extra-bold text-color-light"
                             data-frames='[{"delay":500,"speed":2500,"from":"y:50px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-type="text"
                             data-typewriter='{"lines":"and%20we%20build%20brands.,and%20we%20make%20apps.,and%20we%20are%20awesome.","enabled":"on","speed":"60","delays":"1%7C100","looped":"on","cursorType":"one","blinking":"on","word_delay":"off","sequenced":"on","hide_cursor":"off","start_delay":"1500","newline_delay":"1000","deletion_speed":"20","deletion_delay":"1000","blinking_speed":"500","linebreak_delay":"60","cursor_type":"two","background":"off"}'
                             data-x="['left','left','left','center']"
                             data-y="center" data-voffset="['-33','-33','-33','-33']"
                             data-responsive_offset="on"
                             data-width="['750','750','750','750']"
                             data-fontsize="['48','48','48','48']"
                             data-lineheight="['55','55','55','55']"
                             data-textAlign="['left','left','left','center']">and we create websites.</div>

                        <div class="tp-caption font-weight-light text-color-light ws-normal"
                             data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2300,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                             data-x="['left','left','left','center']"
                             data-y="center" data-voffset="['33','33','33','33']"
                             data-width="['900','900','900','900']"
                             data-fontsize="['18','18','18','22']"
                             data-lineheight="['26','26','26','26']"
                             data-textAlign="['left','left','left','center']">Porto is a huge success, learn more about us.</div>

                        <a class="tp-caption btn btn-primary font-weight-bold rounded"
                           href="/Home/Index"
                           data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                           data-x="['left','left','left','center']"
                           data-y="center" data-voffset="['103','103','103','140']"
                           data-paddingtop="['16','16','16','24']"
                           data-paddingbottom="['16','16','16','24']"
                           data-paddingleft="['40','40','40','45']"
                           data-paddingright="['40','40','40','45']"
                           data-fontsize="['14','14','14','18']"
                           data-lineheight="['20','20','20','22']">GET STARTED NOW <i class="fas fa-arrow-right ml-1"></i></a>

                    </li>
                </ul>
            </div>
        </div>

        <div class="container container-xl py-4">
            <div class="row py-lg-5 my-5">
                <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                    <h2 class="font-weight-bold mb-4">Hello, we are Porto</h2>
                    <p class="text-color-dark text-6 line-height-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit phasellus blandit massa enim.</p>
                    <p class="line-height-9 text-4 pr-lg-5 mr-lg-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim.</p>
                    <a href="#" class="learn-more text-primary font-weight-semibold text-2">VIEW MORE <i class="fas fa-chevron-right text-3 ml-2"></i></a>
                </div>
                <div class="col-md-10 col-lg-5">
                    <div class="row">
                        <div class="col-6 mb-4">
                            <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                                <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">01</span>
                                <h4 class="font-weight-bold text-5 pl-1 mb-2">Strategy</h4>
                                <p class="pl-1">Lorem ipsum dolor sit amet, coctetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="col-6 mb-4">
                            <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                                <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">02</span>
                                <h4 class="font-weight-bold text-5 pl-1 mb-2">Plan</h4>
                                <p class="pl-1">Lorem ipsum dolor sit amet, coctetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-4 mb-sm-0">
                            <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1000">
                                <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">03</span>
                                <h4 class="font-weight-bold text-5 pl-1 mb-2">Work</h4>
                                <p class="pl-1">Lorem ipsum dolor sit amet, coctetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1400">
                                <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">04</span>
                                <h4 class="font-weight-bold text-5 pl-1 mb-2">Quality</h4>
                                <p class="pl-1">Lorem ipsum dolor sit amet, coctetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div role="main" class="main">




            <hr class="solid my-5">


            <section class="parallax section section-text-light section-parallax section-angled section-angled-reverse overlay overlay-show overlay-op-8 my-0" data-plugin-parallax data-plugin-options="{'speed': 2.5}" data-image-src="">
                <div class="section-angled-layer-top bg-light"></div>
                <div class="section-angled-layer-bottom bg-color-grey-scale-1"></div>
                <div class="section-angled-content">
                    <div class="container my-5 py-5">
                        <div class="row pt-5 mt-4 pb-4">
                            <div class="col">
                                <div class="row pb-4 pt-2 clearfix">
                                    <div class="col-lg-4">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                                            <div class="feature-box-icon">
                                                <i class="icon-user-following icons text-color-primary"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2">Customer Support</h4>
                                                <p class="mb-4 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                                            <div class="feature-box-icon">
                                                <i class="icon-screen-tablet icons text-color-primary"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2">Mobile Apps</h4>
                                                <p class="mb-4 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
                                            <div class="feature-box-icon">
                                                <i class="icon-layers icons text-color-primary"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2">Sliders</h4>
                                                <p class="mb-4 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-4">
                                    <div class="col-lg-4">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                                            <div class="feature-box-icon">
                                                <i class="icon-magnifier icons text-color-primary"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2">SEO Optimization</h4>
                                                <p class="mb-4 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800">
                                            <div class="feature-box-icon">
                                                <i class="icon-calculator icons text-color-primary"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2">HTML5</h4>
                                                <p class="mb-4 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                                            <div class="feature-box-icon">
                                                <i class="icon-star icons text-color-primary"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2">Icons</h4>
                                                <p class="mb-4 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1600">
                                            <div class="feature-box-icon">
                                                <i class="icon-drop icons text-color-primary"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2">Colors</h4>
                                                <p class="mb-4 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1400">
                                            <div class="feature-box-icon">
                                                <i class="icon-mouse icons text-color-primary"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2">Buttons</h4>
                                                <p class="mb-4 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1200">
                                            <div class="feature-box-icon">
                                                <i class="icon-screen-desktop icons text-color-primary"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2">Brand Solutions</h4>
                                                <p class="mb-4 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-height-4 bg-color-grey-scale-1 m-0 border-0">
                <div class="container container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 pr-lg-4">
                            <div class="row text-right justify-content-end">
                                <div class="col-lg-7 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
                                    <h4 class="text-3 text-color-primary font-weight-bold mb-0 mt-5">MORE ABOUT US</h4>
                                    <p class="text-7 line-height-5 letter-spacing-minus-1 text-color-dark font-weight-bold mb-5">Get in touch with us and let us help you, we can make your project come true</p>
                                </div>
                                <div class="col-lg-8">
                                    <img src="~/images/w1.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-lg-4">
                            <div class="row">
                                <div class="col-lg-8">
                                    <img src="~/images/w2.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" />
                                </div>
                                <div class="col-lg-9 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                                    <h4 class="text-3 text-color-primary font-weight-bold mb-2 mt-5">WORK WITH US</h4>
                                    <p class="text-4 line-height-9">Lorem ipsum dolor sit amet, consectetur adipiscing eli blandit massa enim. Nullam id varius nunc. Vivamus bibendum mex, et faucibus lacus venena bibendum mex.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container container-xl">
                <div class="row justify-content-center featured-boxes featured-boxes-style-4 pb-3 mb-4">
                    <div class="col-md-4">
                        <div class="featured-box featured-box-primary">
                            <div class="box-content appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                                <i class="icon-featured icons icon-location-pin mb-3"></i>
                                <span class="d-block opacity-7 line-height-1">PORTO ADDRESS</span>
                                <h2 class="font-weight-bold text-color-dark text-5 mb-0">123 Street Name, City, USA</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-box featured-box-primary mx-5">
                            <div class="box-content appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                                <i class="icon-featured icons icon-clock mb-3"></i>
                                <span class="d-block opacity-7 line-height-1">BUSINESS HOURS</span>
                                <h2 class="font-weight-bold text-color-dark text-5 mb-0">Mon - Sun / 9:00AM - 8:00PM</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-box featured-box-primary">
                            <div class="box-content appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1000">
                                <i class="icon-featured icons icon-call-in mb-3"></i>
                                <span class="d-block opacity-7 line-height-1">CALL US NOW</span>
                                <h2 class="font-weight-bold text-color-dark text-5 mb-0">(123) 456-7890</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

        </div>


        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-9 px-lg-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <div class="owl-carousel owl-theme stage-margin stage-margin-lg nav-dark nav-style-2 mb-0" data-plugin-options="{'items': 1, 'margin': 100, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 100, 'autoHeight': true}">
                        <div>
                            <div class="testimonial testimonial-style-2 mb-0">
                                <div class="testimonial-author">
                                    <img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                                </div>
                                <blockquote>
                                    <p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </blockquote>
                                <div class="testimonial-author">
                                    <p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial testimonial-style-2 mb-0">
                                <div class="testimonial-author">
                                    <img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                                </div>
                                <blockquote>
                                    <p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </blockquote>
                                <div class="testimonial-author">
                                    <p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 match-height p-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                    <img src="~/images/w2.jpg" class="img-fluid w-100" alt="" />
                </div>
                <div class="col-lg-6 p-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                    <section class="section section-height-5 section-dark match-height border-top-0 my-0">
                        <div class="row text-center justify-content-center align-items-center h-100 mx-0">
                            <div class="col-lg-8">
                                <h3 class="text-transform-none text-8 line-height-2 mb-3">Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
                                <p class="text-5 font-weight-light mb-4">The best HTML template for your new website.</p>
                                <a href="#" class="btn btn-light btn-xl font-weight-bold rounded-0 text-2 text-color-dark mb-3">LEARN MORE</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <footer class="border-0 mt-0">
        <div class="footer-copyright bg-color-light-scale-1 py-4">
            <div class="container py-2">
                <div class="row py-4">
                    <div class="col text-center">
                        <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-dark mb-3">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <p><strong>PORTO TEMPLATE</strong> - © Copyright 2019. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

@section Styles{ 
<style>
    #footer{
        display: none;
    }

    header{
        display: none;
    }
</style>
}

@section Scripts{


    <script>
        $("body").on("click", ".contactFormBtnPronali", function (e) {
            e.preventDefault();

            $('html,body').animate({ scrollTop: 0 }, 'slow');

            setTimeout(function () {

                $.ajax({
                    url: "/Home/ContactUsFormShow",
                    type: "GET",
                    success: function (response) {
                        $("#contactUsFormDiv").html(response).slideToggle("slow", "swing");
                    }


                });

            }, 1000)

        });

        $(".header-container").click(function () {
            $("#contactUsFormDiv").hide();

        });

    </script>

}

