@model SoftwareViewModel
@{
    ViewData["Title"] = "Softwares";

}


<section  class="page-header page-header-modern page-header-background  py-0 overlay overlay-color-light overlay-show overlay-op-8">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 order-2 order-sm-1 align-self-center p-static">
               
                <div class="overflow-hidden pb-2">
                    <h1 style="color:black;" class="text-10 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">Introducing the new <strong>Software</strong></h1>
                </div>
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                    <span style="color:black;" class="sub-title text-4 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere.</span>
                </div>
                <div class="appear-animation d-inline-block" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                    <a href="#" class="btn btn-modern btn-dark mt-4">Buy Now <i class="fas fa-arrow-right ml-1"></i></a>
                </div>
                <div class="appear-animation d-inline-block" data-appear-animation="rotateInUpRight" data-appear-animation-delay="500">
                    <span class="arrow hlt" style="top: 40px;"></span>
                </div>
            </div>
            <div class="col-sm-7 order-1 order-sm-2 align-items-end justify-content-end d-flex pt-5">
                <div style="min-height: 350px;" class="overflow-hidden">
                    <img alt="" style="width:400px;height:360px;" src="~/images/m1.jpg" class="img-fluid appear-animation" data-appear-animation="slideInUp" data-appear-animation-delay="600" data-appear-animation-duration="1s">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container py-5 my-4">
    <div class="row text-center py-3">
        <div class="col-md-10 mx-md-auto">
            <h1 class="word-rotator slide font-weight-bold text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorter">
                <span>Alphasoft  is </span>
                <span class="word-rotator-words bg-primary">
                    <b class="is-visible">incredibly</b>
                    <b>especially</b>
                    <b>extremely</b>
                </span>
                <span>software supporter and seller</span>
            </h1>
            <p class="lead appear-animation mb-0" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo.
            </p>
        </div>
    </div>
</div>


<section class="section section-height-5 bg-primary border-0 pt-5 m-0 appear-animation" data-appear-animation="fadeIn">
    <div class="container">
        <h1 class="mt-4 mt-lg-5" style="color:white;text-align:center;font-weight:bold;">Our Features</h1>
        <div class="row mt-4 mt-lg-5">
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                <div class="feature-box">
                    <div class="feature-box-icon feature-box-icon-large bg-light mt-1">
                        <i class="icons icon-support text-color-primary text-6"></i>
                    </div>
                    <div class="feature-box-info">
                        <h2 class="text-color-light font-weight-bold text-4 line-height-5 mb-1">CUSTOMER SUPPORT</h2>
                        <p class="text-color-light opacity-7">Lorem ipsum dolor sit <span class="alternative-font text-color-light">amet</span>, consectetur adipiscing elit. Praesent tincidunt pretium vulputate.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="feature-box">
                    <div class="feature-box-icon feature-box-icon-large bg-light mt-1">
                        <i class="icons icon-layers text-color-primary text-6"></i>
                    </div>
                    <div class="feature-box-info">
                        <h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">SLIDERS</h2>
                        <p class="text-color-light opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget pretium purus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                <div class="feature-box">
                    <div class="feature-box-icon feature-box-icon-large bg-light mt-1">
                        <i class="icons icon-menu text-color-primary text-5"></i>
                    </div>
                    <div class="feature-box-info">
                        <h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">BUTTONS</h2>
                        <p class="text-color-light opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel magna fringilla.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-lg-4">
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                <div class="feature-box">
                    <div class="feature-box-icon feature-box-icon-large bg-light mt-1">
                        <i class="icons icon-doc text-color-primary text-5"></i>
                    </div>
                    <div class="feature-box-info">
                        <h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">HTML5 / CSS3 / JS</h2>
                        <p class="text-color-light opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim ante eleifend.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="feature-box">
                    <div class="feature-box-icon feature-box-icon-large bg-light mt-1">
                        <i class="icons icon-user text-color-primary text-5"></i>
                    </div>
                    <div class="feature-box-info">
                        <h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">ICONS</h2>
                        <p class="text-color-light opacity-7">Lorem ipsum dolor sit <span class="alternative-font text-color-light">amet</span>, consectetur adipiscing elit. Praesent consequat pharetra massa.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                <div class="feature-box">
                    <div class="feature-box-icon feature-box-icon-large bg-light mt-1">
                        <i class="icons icon-screen-desktop text-color-primary text-6"></i>
                    </div>
                    <div class="feature-box-info">
                        <h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">LIGHTBOX</h2>
                        <p class="text-color-light opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum aliquet erat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-color-grey-scale-1 border-0 pt-0 pt-md-5 m-0">
    <div class="container">
        <div class="row align-items-center justify-content-center pb-4 pb-lg-0">
            <div class="col-lg-6 order-2 order-lg-1 pr-5 pt-4 pt-lg-0 mt-md-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
                <h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">Who</strong> We Are</h2>
                <p style="margin-right:140px;text-align:justify;" class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id valorem ipsum dolor sit amet, consectetur adipiscinorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <a href="#" class="btn btn-dark font-weight-semibold btn-py-2 px-5">Our History</a>
            </div>
            <div class="col-9 col-lg-6 order-1 order-lg-2 scale-6 pb-5 pb-lg-0 mt-0 mt-md-4 mb-5 mb-lg-0">
                <img class="img-fluid appear-animation" src="~/images/w2.jpg" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300" data-plugin-options="{'accY': -400}" alt="">
            </div>
        </div>
    </div>
</section>

<section style="margin-top:200px;" class="section section-primary border-0 mb-0 appear-animation" data-appear-animation="fadeIn" data-plugin-options="{'accY': -150}">
    <div class="container">
        <h1 style="color:white; text-align: center;">Powering businesses</h1>
        <div class="row counters counters-sm pb-4 pt-3">
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="counter">
                    <i class="icons icon-user text-color-light"></i>
                    <strong class="text-color-light font-weight-extra-bold" data-to="30000" data-append="+">0</strong>
                    <label class="text-4 mt-1 text-color-light ">Happy Clients</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="counter">
                    <i class="icons icon-badge text-color-light"></i>
                    <strong class="text-color-light font-weight-extra-bold" data-to="15">0</strong>
                    <label class="text-4 mt-1 text-color-light">Years In Business</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
                <div class="counter">
                    <i class="icons icon-graph text-color-light"></i>
                    <strong class="text-color-light font-weight-extra-bold" data-to="178">0</strong>
                    <label class="text-4 mt-1 text-color-light">High Score</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="counter">
                    <i class="icons icon-cup text-color-light"></i>
                    <strong class="text-color-light font-weight-extra-bold" data-to="352">0</strong>
                    <label class="text-4 mt-1 text-color-light">Cups of Coffee</label>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row align-items-center">
        <h1 style="text-align:center;margin-left:200px; margin-top:10px;" class="text-center pb-4 pt-3">What Pronali software can do for your business?</h1>
        <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
            <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                <div>
                    <img alt="" class="img-fluid" src="~/images/w2.jpg">
                </div>
                <div>
                    <img alt="" class="img-fluid" src="~/images/w1.jpg">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="overflow-hidden mb-2">
                <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Who <strong class="font-weight-extra-bold">We Are</strong></h2>
            </div>
            <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam <a href="#">vehicula</a> sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam. Donec ante risus, dapibus sed lectus non, lacinia vestibulum nisi. Morbi vitae augue quam. Nullam ac laoreet libero.</p>
            <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Consectetur adipiscing elit. Aliquam iaculis sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam.</p>
        </div>
    </div>

</div>



<section class="section section-height-3 section-background border-0 m-0 appear-animation" data-appear-animation="fadeIn" style="background-image: url(img/parallax/parallax-10.jpg); background-size: cover; background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">

                <div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options="{'items': 1, 'loop': false}">
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <div class="testimonial-author">
                                <img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <div class="testimonial-author">
                                <img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>








