@model Blog

    <form id="blog-editForm" class="createForm">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-12">
                <div id="fav-preview" class="image-preview" style="display: none;">
                    <div id="text" style="display: none;"></div>
                    <img id="imgpreview" src="#" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Creator"></label>
                    <input asp-for="Creator" type="text" class="form-control" />
                    <span asp-validation-for="Creator" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VideoUrl"></label>
                    <input asp-for="VideoUrl" type="text" class="form-control" />
                    <span asp-validation-for="VideoUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" type="text" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input id="image" name="image" type="file" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div id="alert"></div>
        <button class="btn btn-success form-control" type="submit">Save</button>
    </form>

<script>
      $("#blog-editForm").on("submit", function (e) {
        e.preventDefault();
         let formData = new FormData();

        let blogsEdit = objectifyForm($(this).serializeArray());
        formData.append("image", $("#image")[0].files[0]);

        for (var key in blogsEdit) {
            formData.append(key, blogsEdit[key]);
        }
        $.ajax({
            url: "/Blogs/Edit",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
               $("#blog-editFormDiv").html(response);
                dataTable.fnFilter();
                 $("#blogs-editModal").modal('hide');
            }
        });
    });


    $("#image").on("change", function () {
        let maxWidth = 5000;
        let maxHeight = 5000;
        let input = $(this);
        let imgpreview = $("#imgpreview");
        let fav_preview = $("#fav-preview");
        fileOnSelect(input, maxWidth, maxHeight, imgpreview, fav_preview);

    });
  
</script>
